<!-- display data page -->
<section class="section dispFarmers_section">
    <div class="col s12 m12">
        <h4 class="center green-text">GREEN LIVING DATA COLLECTION TOOL</h4>
        <h5 class="center">Farmers Realtime Data</h5>
        <!-- <div class="input-field right">
            <label for="" class="black-text">Search By Gender</label>
            <input type="text" id="getSex">
            <div class="btn blue" id="searchButton">Search</div>
        </div> -->
        <div class="container">
            <table class="responsive-table striped centered" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Chiefdom</th>
                        <th>District</th>
                        <th>Gender</th>
                        <th>Established Date</th>
                        <th>Product</th>
                    </tr>
                </thead>
                <tbody id="farmersTableBody">
                    <!-- display realtime database here -->
                </tbody>
            </table>
        </div>
    </div>
</section>