<!--  header -->
<header class="main-header hide-on-large-only">
    <nav class="green">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="/images/Sierra_Leone_Coat_Of_Arms.png" alt=""></a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons ">menu</i>
                </a>
            
                <!-- mobile navigations -->
                <ul class="sidenav" id="mobile-nav">
                    <img src="/images/Sierra_Leone_Coat_Of_Arms.png" alt="">
                    <h4 class="green-text text-darken-4 center">AMIS</h4>
                    <h6 class="green-text text-darken-4 center">Agriculture Market Information System</h6>
                    <div class="divider"></div>
                    
                    <!-- end of brief about the app -->
                    <div class="divider"></div>
                    <h6 class="green-text" id="devHeadingText">select any to make input</h6>
                        <li>
                            <a href="/inputMarketData"><i class="material-icons green-text left">create</i>Create Market Data</a>
                        </li>
                        <li>
                            <a href="/inputTradeFlowData"><i class="material-icons green-text left">create</i>Create Trade Flow</a>
                        </li>
                        <li>
                            <a href="/inputExportFlow"><i class="material-icons green-text left">create</i>Export Trade Flow</a>
                        </li>
                    <div class="divider"></div>
                    <h6 class="green-text" id="devHeadingText">Extras</h6>
                    <!-- <li>
                        <a href="/usersettings"><i class="material-icons green-text left">settings</i>User Settings</a>
                    </li> -->
                    <li>
                        <a href="/about"><i class="material-icons green-text left">info</i>About</a>
                    </li>
                    <li>
                        <a href="/logout"><i class="material-icons green-text left">exit_to_app</i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
