<html lang="en">
<head>
    <% include partials/templates/head %>
</head>
<body id="<%= pageID %>">

    <!-- including the header template -->
    <% include partials/templates/header %>

    <!-- about the app -->
    <div class="aboutPara container">
        <h4 class="center green-text lighten-2">
            <small>About</small>
        </h4>
        <h6 class="black-text">
            This is a customized data collection tool for the Ministry of Agriculture Sierra Leone.
            <br/>
            <br>
            This application will capture and post realtime data to the ministry's data portal.
        </h6>
    </div>

    <!-- <script src="/js/prodMarket.js"></script> -->
    <!-- including the js scripts template -->
    <% include partials/templates/jsscripts %>
</body>
</html>