<html lang="en">
<head>
    <% include partials/templates/head.ejs %>
</head>
<body id="<%= pageID %>">

    <section class="section index-login-form">
        <div class="container ">
            <img src="/images/Sierra_Leone_Coat_Of_Arms.png" class="avt"/>
            <h4 class="center green-text lighten-2">Enumerator Login</h4>
            <% include partials/templates/messages %>
            <form method="POST" action="/" class="responsive">
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <label for="icon_prefix">Enter Username</label>
                    <input id="loginUsername" type="text" class="validate" name="username" required value="<%= typeof username != 'undefined' ? username: '' %>">
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <label for="icon_telephone">Enter Password</label>
                    <input id="loginPassword" type="password" class="validate" name="password" required value="<%= typeof password != 'undefined' ? password: '' %>">
                </div>
                <input class="btn btn-large btn-extend green white-text" type="submit" value="login" name="loginButton">
            </form>
        </div>
    </section>
    
    <% include partials/templates/jsscripts.ejs %>
</body>
</html>

